* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#sidebar {

  height: 100vh;
  overflow: hidden;
}

.opciones-menu ul {
  list-style: none;
}

.opciones-item {
  padding: 8px 2px;
}

.opciones-item a{
  display: block;
  width: 100%;
  color: white;
  padding: 3px 12px;
}

.opciones-item a:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}


/* ------publicaciones--------- */
.publicaciones-todos img {
  width: 100%;
  height: 200px;
  object-fit: cover;

}

.publicaciones-todos span {
  z-index: 100;
  color: aliceblue;
  font-weight: bold;
}

.blog-nuevo {
  border: 3px dashed rgba(170, 170, 170, 0.808);
  width: 100%;
  height: 200px;
}

.publicaciones-todos i {

  z-index: 100;
}

.publicaciones-todos img:hover {
  filter: blur(3px);
  cursor: pointer;

}
